.icon {
    color: white;
    font-size: 30px;
}

.widget-icon {

    padding: 10px;
    text-align: center;
}

.widget-text {
    text-align: center;
    vertical-align: center;
}

.order {
	background-color: #0080FF;
}

.comment {
	background-color: #FFBF00;
}

.user {
	background-color: #01DFA5;
}

.view {
	background-color: #DF0101;
}

.widget-row {
	margin-left: 0px !important;
}